
  <div>
    <input type="button" name="nominate" value="validate" onclick="onClick()"> Nominate<br>
  </div> 
  
  
  
<script src="https://statics.teams.microsoft.com/sdk/v1.0/js/MicrosoftTeams.min.js"></script>

<script type="text/javascript">  

microsoftTeams.initialize();
microsoftTeams.settings.registerOnSaveHandler(function(saveEvent){
	microsoftTeams.settings.setSettings({
         entityId: "Nominator",
         contentUrl: "https://3a731ef5.ngrok.io/config",
         suggestedDisplayName: "nominator",
         websiteUrl: "https://3a731ef5.ngrok.io/config",
         removeUrl: "https://teams-get-started-sample.azurewebsites.net/tabremove.html",
      });
    saveEvent.notifySuccess();
});

function onClick() {
    microsoftTeams.settings.setValidityState(true);
}

</script>
 